<nav class="navbar navbar-expand-md border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/Images/logo.png" alt="logo"></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
          <div class="navbar-nav main-menu ms-auto">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listing</a>
          <a class="nav-link" href="/listings/new">Add New Listing</a>
          <img src="/Images/Frame 625776.png" alt="">
          </div>
          
          <div class="navbar-nav ms-auto">
           <% if(!currUser){%>
            <a class="nav-link" href="/login">
            <div class="login-signup">
              <i class="fa-solid fa-bars bar"></i>
              <img src="/Images/profile.png" id="profile-pic" alt="">
            </div>
            </a>
            <%}%>

            <% if(currUser){%>
            <div class="login-signup">
            <i class="fa-regular fa-user user-icon"></i>
            <span class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= `${currUser.username}!`%>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </span>  
            </div>
            <%}%>
          </div>
      </div>
    </div>
</nav>



